.search-bar {
    justify-content: center;
    font-family: sans-serif;
    display: flex;
    height: 50vh;
    margin: 3.125rem 0rem;
  }
  
  /* Accessability for screen readers */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  /* Magnifying glass icon */
  svg {
    height: 1.25rem /* 20px */;
    width: 1.25rem /* 20px */;
    fill: #cbd5e1;
    position: absolute;
    left: 0.5rem;
    top: 7px;
  }
  
  .search-icon-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"] {
    display: block;
    width: 50%;
    height: 2rem /* 32px */;
    border-radius: 9999px;
    --bg-opacity: 1;
    background-color: rgb(36 39 44 / var(--bg-opacity));
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    padding: 0.75rem 1.25rem 0.75rem 2.5rem;
    --text-opacity: 1;
    color: rgb(255 255 255 / var(--text-opacity));
  }
  
  input[type="text"]:focus {
    width: 100%;
    --text-opacity: 1;
    color: rgb(255 255 255 / var(--text-opacity));
    font-size: 1rem;
  }
  
  input[type="text"]::placeholder {
    font-style: italic;
    --text-opacity: 1;
    color: rgb(148 163 184 / var(--text-opacity));
  }

  .path {
    margin-left: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; 
    --text-opacity: 1;
    color: rgb(255 255 0 / var(--text-opacity));
  }